@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #e8e4d6;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hlink {
    text-decoration: none;
    color: black;
    padding-left: 100px;
}

#hora{
    text-decoration: none;
    color: black;
    padding-left: 100px;
}

.hlink:hover {
    color: grey;
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: center;
}

.conteiner {
    width: 1000px;
    padding: 150px 0 0 130px;
}

.txt {
    font-size: small;
}

h1,
h2 {
    font-size: larger;
}

.git {
    background-image: url("github-logo-24.png");
}

#kurt {
    width: 400px;
    border-radius: 50%;
    margin-left: 150px;
    -webkit-box-shadow: 38px 4px 74px -22px rgba(0,0,0,0.75);
    -moz-box-shadow: 38px 4px 74px -22px rgba(0,0,0,0.75);
    box-shadow: 38px 4px 74px -22px rgba(0,0,0,0.75);
    margin-top: 100px;
}

